@media screen {

html {
	background-color: #FAF5F2;
	color: #8B7355;
	border-width: 1.5em;
	border-style: double;
	font-family: 'Alike', serif;
	}

body {
	font-size: .8em;
	font-family: 'Alike', serif;
	background-color: #FAF5F2;
	margin:4% 10% 8% 10%;
	text-align: none;

	}
content {
				margin-top: 10%;
				padding-left: 20px;
				margin-right: 20px;
				width: 100%;
				
			
			}	
	
img {

	float: right;
	border-style: solid;
	border-width: 2px;
	margin-left: 1.5em;
	margin-bottom: 1em;
	
	}

blockquote {
			font-style: italic;
			margin: 5%;
			font-size: 1em;
		
				}
	



	h1 {
	font-size: 3.5em;
		margin: 0;
		}
		
	h2 {
		margin-top: 5px;
		}
	
	
a:link {color:#800000;}      /* unvisited link */
a:visited {color:#800000;}  /* visited link */
a:active {color:#800000;}  /* selected link */

nav {

width:20%;
float:left;
	background-color: #F0E0D9;
	padding-top: 1em;
	padding-bottom: 5px;
	margin: 1em;
	border-style: solid;
	border-width: 2px; 
	}
	
	nav ul {
		list-style: none;
		padding-left: 0;
		}
		
		nav li {
			display: block;
			padding: 10%;
			text-align: auto;

			
			}
			
		footer {
			font-size: 13px;
			float: right;
			}
}

/*
 * 300 or more
 */
@media screen and (min-width: 300px) {
body {
	font-size: 14px;
	font-family: 'Alike', serif;
	background-color: #FAF5F2;
	margin:7% 5% 7% 5%;
	text-align: none;}

h1 {
font-size: 1.4em;
margin: 0;
		
		}
		
img {

	float: none;
	
	}
		
nav {
width:80%;
float:center;
	background-color: #F0E0D9;
	padding:0 0 0 0;
	margin: 1em 0 0 0;
	border-style: solid;
	border-width: 2px; 
	display: block;
	}
	
	nav ul {
		list-style: none;
		padding-left: 0;
		}
		
		nav li {
			display: block;
			padding: 2%;
			

			
			}

blockquote {
width:100%;
font-style: italic;
margin: 0;
padding: 0;
font-size: 12px;
		
				}
			
}
@media screen and (min-width: 600px) {
body {
	font-size: 14px;
	font-family: 'Alike', serif;
	background-color: #FAF5F2;
	margin:7% 5% 7% 5%;
	text-align: none;}

h1 {
font-size: 1.4em;
margin: 0;
		
		}
		
nav {
width:20%;
float:left;
	background-color: #F0E0D9;
	padding:0 0 0 0;
	margin:  20px 20px 20px 20px;
	border-style: solid;
	border-width: 2px; 
	display: block;
	}
	
	nav ul {
		list-style: none;
		padding-left: 0;
		}
		
		nav li {
			display: block;
			padding: 2%;
			

			
			}

img  {

	float: center;
	
	}
			
blockquote {
width:100%;
font-style: italic;
margin: 0;
padding: 0;
font-size: 12px;
		
				}
			
}
	
	@media screen and (min-width: 768px) {

body {
	font-size: 14px;
	font-family: 'Alike', serif;
	background-color: #FAF5F2;
	margin:7% 10% 7% 10%;
	text-align: none;

	}
content {
				margin-top: 10%;
				padding-left: 20px;
				margin-right: 20px;
				width: 100%;
				
			
			}	
	
img {

	float: none;
	
	}

blockquote {
			font-style: italic;
			margin: 5%;
			font-size: 16px;
		
				}
	



	h1 {
	font-size: 2em;
		margin: 0;
		}
		
	h2 {
		margin-top: 5px;
		}
	
	
a:link {color:#800000;}      /* unvisited link */
a:visited {color:#800000;}  /* visited link */
a:active {color:#800000;}  /* selected link */

nav {

width:20%;
float:left;
	background-color: #F0E0D9;
	padding-top: 1em;
	padding-bottom: 5px;
	margin: 1em;
	border-style: solid;
	border-width: 2px; 
	}
	
	nav ul {
		list-style: none;
		padding-left: 0;
		}
		
		nav li {
			display: block;
			padding: 10%;
			text-align: auto;

			
			}
			
		footer {
			font-size: 12px;
			float: right;
			}
			}
	
@media screen and (min-width: 960px) {
html {
	background-color: #FAF5F2;
	color: #8B7355;
	border-width: 1.5em;
	border-style: double;
	font-family: 'Alike', serif;
	}

body {
	font-size: .97em;
	font-family: 'Alike', serif;
	background-color: #FAF5F2;
	margin:4% 10% 8% 10%;
	text-align: none;

	}
content {
				margin-top: 10%;
				padding-left: 20px;
				margin-right: 20px;
				width: 100%;
				
			
			}	
	
img {

	float: right;
	border-style: solid;
	border-width: 2px;
	margin-left: 1.5em;
	margin-bottom: 1em;
	
	}

blockquote {
			font-style: italic;
			margin: 5%;
			font-size: 1em;
		
				}
	



	h1 {
	font-size: 3.1em;
		margin: 0;
		}
		
	h2 {
		margin-top: 5px;
		}
	
	
a:link {color:#800000;}      /* unvisited link */
a:visited {color:#800000;}  /* visited link */
a:active {color:#800000;}  /* selected link */

nav {

width:20%;
float:left;
	background-color: #F0E0D9;
	padding-top: 1em;
	padding-bottom: 5px;
	margin: 1em;
	border-style: solid;
	border-width: 2px; 
	}
	
	nav ul {
		list-style: none;
		padding-left: 0;
		}
		
		nav li {
			display: block;
			padding: 10%;
			text-align: auto;

			
			}
			
		footer {
			font-size: 12px;
			float: right;
			}
			}

/*
 * Print styles
 */
}