html {
background-color:#e3d3b8;

}


body {
		background-color: #e3d3b8;
		font-size: 14pt;
		color: #603913;
		font-family: Georgia;
		
	
  
}
img.bg {
			position: fixed; 
			top: -20%;
			left: 0;
			bottom: 0;
			right:0;
			opacity:0.3;
			min-height: 100%;
			width: 100%;

}


#main_content { 
	
		font-size: 14pt;
		margin: 20px auto;
		padding:2%;
		width: 70%;
		opacity:0.95;
		text-decoration:none;
		font-family: Georgia;

 
}



#homepage a {
				text-decoration: none;
				
				}

#homepage a:visited {
					text-decoration:none;
					color: #603913;
				
					}
	
h1 {
font-family: 'Fredericka the Great', Georgia;
font-size:44px;
color:#603913;
font-weight:lighter;
text-align:center;
margin-bottom: 20px;
}

h2{
font-family: Georgia;
margin-left: 50px;
color:#603913;
}

.navigation 
{
background-color:#b42714;
padding:10px; 
width:95%;
margin:0 10px 0 10px; 
}
	
.navigation a {
	text-decoration:none;
	font-size:16px;
	font-family:Georgia, serif;
	color:#ffffff;	
	font-weight: bold;
	padding:0 10px 0 10px;	
	
}




.navigation a:visited {
	text-decoration:none;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;


	}
	



.left_content{
		width:50%;
		}

img.bk {

		float: right;
}

		
.Lepore {
		font-style: italic;
		font-size: 14pt;
		margin: 10px 40px 10px -20px;
		width: 55%;
		float: right;
		text-align: justify;
		height: auto;
		
		}

img .washitasign{

		margin-right: -30px;
		float: left;
		
		}
		

.qstart {
		padding: -50px;
		font: Georgia;
		font-size: 70px;
		
		
}

.qend{
		position: absolute;
		font-size: 70px;
		font: Times New Roman;
		
}
		
blockquote {

		font-style: italic;
		font-weight: 500;
		font-size: 14pt;
		margin: 50px 70px 50px 70px;
		}

		
.quote{
		margin-left:250px;
		padding:10px;
		font-style: italic;
		color: #603913;
		font-size: 18pt;
		font-weight:bold;
		height:300px;
		
		
		}
.keyfig_images {

		width: 30%;
		float: left;
		margin-top: 20px;
		}

.keyfig_quotes {

		
		font-style: italic;
		color: #603913;
		font-size: 18pt;
		font-weight:bold;
		width: 60%;
		float: right;
		margin-top: 10px;
		
		}
		


img.cheyenne {
		float: left;
		width: 20%;
		}

img.custer {
		float: right;
		width: 20%;
		margin-top: 100px;
		}

img.blackkettle{
		float: left;
		width: 20%;
	
		}
		
img.sheridan {
		float: right;
		width: 20%;
		}
		
.hintro {
		margin-right: 50px;
		margin-left: 50px;
		font-family: Georgia;
		font-size: 22px;
		text-align: justify;
		}
		
		
img.georgecuster{
		float: left;
		height: 200px;
		width: 150px;
		padding-right: 30px;
		margin-bottom: -20px;
		}

.hcuster {
		float: left;
		margin-left: 70px;
		width: 700px;
		color: #603913;
		margin-bottom: 30px;
		margin-top: 30px;
		}
		
img.birdgrinnell {
		float: left;
		margin: -30px -25px -35px -50px;
		height: 265px;
		width: 265px;
		
		}
.hgrinnell {
	
		float: left;
		width: 700px;
		color: #603913;
		margin: 0 40px 30px 60px;
		}

img.bent {
		float: left;
		height: 250px;
		width: 250px;
		padding-right: 10px;
		margin-top: -15px;
		margin-right: -30px;
		margin-bottom: -40px;
		}
		
.hbent {
		float: left;
		
		width: 700px;
		margin-left: 40px;
		color: #603913;
		margin-bottom: 70px;
		
		}
		
img.utley{
		float: left;
		margin-right: -90px;
		margin-bottom: -80px;
		margin-left: -110px;
		margin-top: -90px;
}

.hutley {
		float: left;
		width: 700px;
		color: #603913;
		margin-left: 65px;
		}
		
.hutley a {
		text-decoration:underline;
	font-family:Georgia, serif;
	color:#603913;	
	font-weight: bold;
	}
		
.utleyheader {
font-family: Georgia;
color:#603913;
margin: 30px 30px 10px 22px;
padding-left: 20px;
border-style: solid;
border-width: 1px;
}

.utleysubheader {
font-family: Georgia;
color:#603913;
margin-left: 25px;
margin-right: 25px;
}
		
img.hoig{
		float: left;
		padding-bottom: 20px;
		padding-right: 20px;
		margin-right: 20px;
		}
.hhoig{
		float: left;
		width: 700px;
		margin-left: 70px;
		color: #603913;

		}
		
.hhoig a {
		text-decoration:underline;
	font-family:Georgia, serif;
	color:#603913;	
	font-weight: bold;
	}

.box_content{
width:70%;
margin-left:5%;
padding:5px;
color: #603913;
}

.box_content a {

			text-decoration:underline;
			font-family:Georgia, serif;
			color:#603913;	
			font-weight: bold;
			
}

.extra{

background: url('mapoutline_1.png') no-repeat right top;

}

.nmintro {
		margin-right: 20px;
		margin-left: 50px;
		font-family: Georgia;
		font-size: 22px;
		font-weight: 500;
		}

img.washita_sign {
		float: right;
		width: 700px;
		margin-top: -90px;
		margin-left: -90px;
		margin-right: -80px;
		margin-bottom: -40px;
		}

.yiintro {
		margin-right: 50px;
		margin-left: 50px;
		font-family: Georgia;
		font-size: 22px;

		}

.formlabel {
	font-weight: normal;
	width: 80%;
	margin-top: 12px;
	margin-bottom: 8px;
	text-align: left;
	clear: left;
	padding: 10px;
	color: #603913;
	font-family: Georgia;
	

}
.formfield {
	margin-bottom: 15px;
	color: #603913;
	font-family: Georgia;
	
		}

	

	
	
.submit {
		float: left;
		
		}

		
footer {
	float: right;
	}
	
footer a {
	text-decoration:none;
	font-family:Georgia, serif;
	color:#603913;	
	font-weight: bold;
	padding: 0 30px 70px;
	
}


footer a:visited {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	color:#603913;
	}
	
.bibliography {
		margin-left: 80px;
		}
	
	/*
 * 300 or more
 */
@media screen and (min-width: 300px) 

@media screen and (min-width: 600px) 
	
@media screen and (min-width: 768px) 

	
@media screen and (min-width: 960px) 


/*
 * Print styles
 */
